.about {
	&__content {
		justify-content: space-between;
	}
	&__main-info {
		> li {
			margin-top: 4px;
		}
	}
	&__hero {
		max-width: 638px;
		padding: 55px;
		padding-right: 30px;
		transform: translateY(-60px);
		box-shadow: 2px 2px 4px rgba(58, 132, 197, 0.25);
		border-radius: 10px;

		> p {
			+ p {
				margin-top: 20px;
			}
		}
	}
}
